<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AkbasHoldingVol2.Properties.Settings.AkbasHoldingConnectionString"
            connectionString="Data Source=DESKTOP-2RPJPRH;Initial Catalog=AkbasHolding;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="AkbasHoldingVol2.Properties.Settings.AkbasHoldingTestConnectionString"
            connectionString="Data Source=DESKTOP-2RPJPRH;Initial Catalog=AkbasHoldingTest;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>